.menu  {
    width: 170px;
    height: 100%;
    box-shadow: 0.2px 0px 5px #9E9E9E;
    text-align: center;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
}

.menuTitle{
    display: block;
    text-decoration: none;
    font-size: 2px;
    color: #82737B;
    text-align: left;
    padding: 1.275em 2.428571429em;
}

.logo {
    padding-top: 50px;
    padding-bottom: 50px;
}


.menuTitle:hover {
    color: #82737B;
    text-decoration: none;
}


/*------------------*/

.searchInput {
  font-size:18px;
  padding:15px 10px 10px 5px;
  display:block;
  width:500px;
  border:none;
  border-bottom:1px solid #757575;
}
.searchInput:focus { outline:none; }

/*------------------*/

header {
    min-width: 90%;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom:20px;
    margin-left:170px;
    height: 50px;
    line-height:50px;
    position: fixed;
    background-color: #fff;
    z-index: 999;
}


header a {
    
    margin: 10px 5px 5px 10px;
    font-size: 1.5em;
    text-decoration: none;
    color: #555;
    width: 30px;
    float: right;
}

header a:hover {
    color: #DAA25A;
    background-color: none;
    text-decoration: none;
    font-size: 1.6em;
}

header a:focus {
    color: #DAA25A;
}

/*------------------*/

.pageContent {
    /*height: 500px;*/
    /*background-color: #555;*/
    padding-left: 20px;
    padding-right:15px;
    margin-left:170px;
}

.row {
    margin-top: 20px;
    margin-bottom:20px;
}

.pageContentItem{
    margin-top: 30px;
    min-height:220px;
    color:#555;
}


.texttest {
    max-width: 333.33px;
    height: 100px;
    display: -webkit-box;  
	overflow:hidden;
	text-overflow : ellipsis;
	-webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    
}

.pageContentItem:hover{
   border-left:2px solid #82737B;
   
}

.pageContent h3 {
    margin-top: 0px;
    margin-bottom: 5px;
}

.pageContentbtn {
    height:200px;
    color:#DAA25A;
    margin-bottom: 10px;
}

.pageContentbtn:hover {
    color:#333E48;
    text-decoration: none;
    
}

.pageContentbtn:focus {
    color:#333E48;
    text-decoration: none;
    
}

.pageContentTitle {
    padding-left: 10px;
}

/*---------------------------*/



#addbutton {
    background-color: #555555;
    color: #fff;
    border: 2px solid #fff;
    padding: 12px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

#addbutton:hover {
    background-color: #DAA25A;
    color: #fff;
}



.loadPage{
    z-index: 1000;
    margin-left: 170px;
    height: 100%;
    background-color: #555;
}

.pageContentclose{
    font-size: 1.5em;
    line-height: 50px;
    display: block;
    float: right;
    color:#DAA25A;
    color: #fff;
    display: block;
    width: 100%;
    background-color: #555;
}

.pageContentclose:hover{
    color:#DAA25A;
}

.loadHere{
    background-color: #fff;
    height: 100%;
}
/*---------------!!!*/

.jumbotron { 
  padding: 30px; 
}

.jumbotron .container { 
  margin-top: 40px;
  margin-bottom: -40px;
  max-width: 90%; 
  color: #555;
  border:1px solid #DAA25A;
}

#sayHello { 
  /*text-align: center;*/
  font-size: 1.8em;
  color: #DDD;
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
  font-weight: -100 ;
  text-transform: uppercase;
}